html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
.hero-image{
    width: 100%;
    height: 100vh;
    background: url(15.png) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
.image{
    width: 100%;
    height: 100vh;
    background: url(16.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
.image2{
    width: 100%;
    height: 100vh;
    background: url(17.jpg)  no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;

}
*.{
    margin: 0px;
    padding: 0px;
}
.content{
    width: 100%;
    padding: 60px 0;
    font-family: Helvetica;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 560px;
    margin-left: 10px;

}
h1{
    font-size 42px;
    font-family: Anton;
    text-transform: uppercase;

p{
    line-height: 40px;
    text-align: justify;

}
